body{
    margin: 0px;
}

.header{
    height: 300px;
    overflow: hidden;
    position: relative;
    background-color: aqua;
}

.imagecontainer{
    position: relative;
}
.cityImage{
    height: 200px;
    width: 200px;



}
.textContainer{
    position:absolute;
    z-index: 10;
    text-align: center;
}

.opacity{
    height: 100px;
    width: 100px;
    background-color: burlywood;
    position: absolute;

}
